<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Akshay Shah :: $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thoughts from a physician-turned-data scientist.">
    <meta name="author" content="Akshay Shah">
    <meta name="robots" content="$robots$">

    <!-- Styles -->
    <link href="/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="top-spacer" class="visible-desktop"></div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Akshay Shah</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="$homeclass$"><a href="$homehref$"><i class="icon-comments"></i> Posts</a></li>
              <li class="$colophonclass$"><a href="$colophonhref$"><i class="icon-user-md"></i> Colophon</a></li>
            </ul><!-- .nav -->
            <ul class="nav pull-right">
              <li><a href="mailto:akshay@datahackermd.com"><i class="icon-envelope"></i> Email</a></li>
              <li><a href="http://twitter.com/akshayshah" class="twitter-link"><i class="icon-twitter"></i> Twitter</a></li>
              <li><a href="http://feeds.feedburner.com/datahackermd" class="rss-link"><i class="icon-rss"></i> <abbr class="initialism">RSS</abbr></a></li>
            </ul><!-- .nav .pull-right -->
          </div><!-- .nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <article class="hentry">
        $body$

        <hr>
        <footer class="footer">
          <div class="entry-unrelated hidden-phone">
            <p class="pull-right"><a href="#">Back to top <i class="icon-arrow-up"></i></a></p>
          </div>
          <p><span class="source-org vcard copyright">
            All content &copy; Akshay Shah 2012.<br>
            Prose licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC BY SA 3.0</a>.<br>
          </span>
          <span class="entry-unrelated">
            Built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>, <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>, and <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>.
          </span></p>
        </footer>
      </article><!-- .hentry -->
    </div> <!-- .container -->

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/timeago.js"></script>

    <script type="text/javascript">
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33889701-1']);
      _gaq.push(['_setDomainName', 'datahackermd.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // Misc. DOM-ready block  
      $(document).ready(function() {
        // Activate collapsing elements, including nav bar
        $('.collapse').collapse();
        // Analytics for various follow-type activities
        $('.rss-link').click(function(){
          _gaq.push(['_trackEvent', 'follow', 'rss']);
        });
        $('.twitter-link').click(function(){
          _gaq.push(['_trackEvent', 'follow', 'twitter']);
        });
        $('time.timeago').timeago();
      });
    </script>
  </body>
</html>
