<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Akshay Shah</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#"><i class="icon-comments"></i> Posts</a></li>
          <li><a href="/colophon.html"><i class="icon-user-md"></i> Colophon</a></li>
        </ul><!-- .nav -->
        <ul class="nav pull-right">
          <li><a href="mailto:akshay@datahackermd.com"><i class="icon-envelope"></i> Email</a></li>
          <li><a href="http://twitter.com/akshayshah" class="twitter-link"><i class="icon-twitter"></i> Twitter</a></li>
          <li><a href="http://feeds.feedburner.com/datahackermd" class="rss-link"><i class="icon-rss"></i> <abbr class="initialism">RSS</abbr></a></li>
        </ul><!-- .nav .pull-right -->
      </div><!-- .nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div class="hero-unit pagination-centered">
    <div class="row">

        <img class="visible-desktop well pull-right" style="margin: 0 0 0 2em;" height="300" width="300" alt="" src="/img/akshay-300x300.jpeg">

        <h1>Data Hacker, MD</h1>
        <p style="padding-top: 1em;">Hi, I'm <a href="/colophon.html">Akshay</a>.</p>

        <p>I've been a medical student, a public school teacher, an EMT, and (briefly) a spammer; these days, I'm loving life as a data scientist in foggy San Francisco. I have lots of interests, but programming, bicycles, coffee, and trashy fantasy novels reliably tickle my fancy.</p>

        <p style="padding-top: 1em;">
          <a class="btn btn-large btn-inverse" href="http://twitter.com/akshayshah"><i class="icon-twitter"></i> Follow</a>
          <a class="btn btn-large btn-primary" href="http://feeds.feedburner.com/datahackermd" style="margin-left: 0.5em;"><i class="icon-rss"></i> Subscribe</a>
        </p>

    </div><!-- .row -->
  </div><!-- .hero-unit -->

  $posts$

  $footer$
</div> <!-- .container -->
