<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic&subset=latin' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Akshay Shah :: $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thoughts from a physician-turned-data scientist.">
    <meta name="author" content="Akshay Shah">
    <meta name="robots" content="$robots$">

    <!-- Styles -->
    <link href="/style.css" rel="stylesheet">

    <!-- Icons -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <!-- On phones, keep the brand link short to make room for the nav items -->
          <a class="brand" href="$homeurl$"><span class="hidden-phone">Akshay Shah</span><span class="visible-phone">AJS</span></a>
          <ul class="nav">
            <li class="$postsclass$"><a href="$postsurl$"><i class="icon-inbox"></i> Posts</a></li>
            <li class="$colophonclass$"><a href="$colophonurl$"><i class="icon-user-md"></i> Colophon</a></li>
          </ul><!-- .nav -->
          <ul class="nav pull-right hidden-phone">
            <li><a href="mailto:akshay@datahackermd.com"><i class="icon-envelope"></i> Email</a></li>
            <li><a href="http://twitter.com/akshayshah" class="twitter-link"><i class="icon-twitter"></i> Twitter</a></li>
            <li><a href="http://feeds.feedburner.com/datahackermd" class="rss-link"><i class="icon-rss"></i> <abbr class="initialism">RSS</abbr></a></li>
          </ul><!-- .nav .pull-right -->
        </div><!-- .container -->
      </div><!-- .navbar-inner -->
    </div><!-- .navbar -->

    $body$

    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.0/moment.min.js"></script>

    <script type="text/javascript">
      // Insert relative dates, e.g., "Published a year ago on 4 Aug 2011"
      function makeRelativeDate(el) {
        el.innerHTML = moment(el.getAttribute('datetime')).fromNow();
      };
      var datesToReplace = document.getElementsByClassName('timeago');
      for (var i = 0; i < datesToReplace.length; ++i) {
        makeRelativeDate(datesToReplace[i]);
      };

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33889701-1']);
      _gaq.push(['_setDomainName', 'datahackermd.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // Disqus comments
      if (document.getElementById('disqus_thread')) {
        var disqus_shortname = 'datahackermd';
        var disqus_identifier = "$url$";
        var disqus_url = "http://datahackermd.com$url$";
        var disqus_title = "$title$";

        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      }
    </script>
  </body>
</html>
